@media (min-width: 320px) and (max-width: 767px) {
html body div.mainContainer {
  height: 100%;
  width: 100%;
}
  header {
    height: 5%;
    }
//logInPage css
.logInPage {
  height: 53%;
  width: 80%;
  margin: 10% auto;
  padding-top: 8%;
  border-radius: 5px;
  h2 {
    font-size: xx-large;
    padding-top: 0%;
  }
    p{
      font-size: medium;
  }
  h2, p {
    margin-left: 3%;
    }
  form.form-inline {
    width: 62%;
    margin-left: 21%;
    margin-top: 10%;
  }
  button.signIn {
    margin-left: 0;
    margin-right: 8%;
    margin-top: 5%;
  }
  div.form-group {
    // margin-bottom: 8px;
    margin-right: 16%;
    margin-bottom: 2%;
    margin-top: 9%;
    }
  footer {
    // display: none;
    }
}

// mainPage css
  div.mainPage {
      width: 80%;
      margin: 0% auto;
      border-radius: 5px;
      height: 92%;

  .socialBoxes {
    margin-right: 3%;
    margin-top: 2%;
      span {
        font-size: 2em;
      }
    }
    .userInputArea {
      width: 80%;
      margin: 5% -1% 0 11%;
    }
    .form-group-username {
      width: 75%;
      margin-left: 13%;
      margin-top: 20%;
    }
    .form-group-password {
      width: 75%;
      margin-left: 13%;
      margin-top: 8%;
    }
    #isClean {
      margin-bottom: 3%;
    }
    button.btn.btn-primary {
      float: right;
      border-radius: 10px;
      margin-right: 1%;
      margin-top: 0;
      margin-bottom: 8%;
      width: 99%;
      height: 28px;
    }
    #map {
      border-radius: 5px;
      width: 80%;
      height: 23%;
      margin-left: 10%;
      margin-right: 10%;
      }
    fieldset.form-group {
      margin-bottom: 3%;
    }
    footer {
      h5 {
      font-size: 10px;
      }
    }
  }
}
