* {
  font-family: 'Shadows Into Light Two', cursive;
}
html {
  height: 100%;
  margin: -15px;
  body {
    height: 100%;
    .mainContainer {
      height: 125%;

      div#bg-image {
        height: 100%;
        background-image: url("images/bathroomBackground.jpg");
      }
      h2, p {
            text-align: center;
          }
      h2 {
        padding-top: 2%;
      }
    }
  }
}
