* {
  font-family: 'Shadows Into Light Two', cursive;
}
html {
  height: 100%;
  margin: -15px;

  body {
    height: 100%;

    .mainContainer {
      height: 125%;

      div#bg-image {
        height: 100%;
        background-image: url("images/bathroomBackground.jpg");
      header {
        height: 5%;
        }
      }
      h2, p {
            text-align: center;
          }
      h2 {
        padding-top: 2%;
      }
      footer {
        width: 100%;
        height: 10%;
          h5 {
          text-align: center;
          vertical-align: middle;
          }
      }
    }
  }

}
