* {
  font-family: 'Shadows Into Light Two', cursive; }

html {
  height: 100%;
  margin: -15px; }
  html body {
    height: 100%; }
    html body .mainContainer {
      height: 125%; }
      html body .mainContainer div#bg-image {
        height: 100%;
        background-image: url("images/bathroomBackground.jpg"); }
        html body .mainContainer div#bg-image header {
          height: 5%; }
      html body .mainContainer h2, html body .mainContainer p {
        text-align: center; }
      html body .mainContainer h2 {
        padding-top: 2%;
        text-decoration: underline; }
      html body .mainContainer footer {
        width: 100%;
        height: 10%; }
        html body .mainContainer footer h5 {
          text-align: center;
          vertical-align: middle; }

.logInPage {
  background-color: rgba(100, 149, 244, 0.78);
  box-shadow: 10px 10px 5px 0px rgba(140, 137, 140, 0.65);
  color: #FFF;
  height: 50%;
  width: 50%;
  border-radius: 84px;
  margin-left: 25%; }
  .logInPage h2 {
    text-align: center;
    font-size: -webkit-xxx-large;
    padding-top: 2%;
    margin-left: 0%; }
  .logInPage p {
    font-size: x-large; }
  .logInPage form.form-inline {
    text-align: center;
    margin-top: 3%;
    width: 35%;
    height: 47%;
    margin-left: 34%; }
  .logInPage div.form-group {
    margin-right: 16%;
    margin-bottom: 2%;
    margin-top: 10%; }
  .logInPage input#Username.form-control {
    width: 112%;
    border: solid gray 2px; }
  .logInPage input#Password.form-control {
    margin-left: 1%;
    width: 112%;
    border: solid gray 2px; }
  .logInPage button.signIn {
    width: 66%;
    margin-top: 7%;
    color: #FFF;
    margin-left: -5%;
    margin-bottom: 12%;
    background-color: #3B5998;
    border-radius: 10px; }
    .logInPage button.signIn:hover {
      opacity: .8;
      cursor: pointer; }

div.mainPage {
  color: #FFF;
  background-color: rgba(100, 149, 244, 0.78);
  box-shadow: 10px 10px 5px 0px rgba(140, 137, 140, 0.65);
  width: 80%;
  margin: 0 auto;
  height: 90%;
  border-radius: 10px; }
  div.mainPage .socialBoxes {
    float: right;
    margin-top: 2%;
    margin-right: 3%; }
    div.mainPage .socialBoxes .fa-facebook-square {
      color: #3b5998;
      top: 0;
      right: .5em; }
      div.mainPage .socialBoxes .fa-facebook-square:hover {
        color: #add8e6;
        opacity: .8; }
    div.mainPage .socialBoxes .fa-twitter-square {
      color: #00aced;
      top: 0;
      left: -.3em; }
      div.mainPage .socialBoxes .fa-twitter-square:hover {
        color: #add8e6;
        opacity: .4; }
    div.mainPage .socialBoxes .fa-youtube-square {
      color: #b31217;
      top: 0;
      left: -.2em; }
      div.mainPage .socialBoxes .fa-youtube-square:hover {
        color: #ffc0cb;
        opacity: .4; }
  div.mainPage h2 {
    font-size: -webkit-xxx-large; }
  div.mainPage p {
    font-size: xx-large; }
  div.mainPage div.userInputArea {
    width: 30%;
    margin-left: 11%;
    margin-right: 0%;
    margin-top: 5%; }
  div.mainPage fieldset.form-group {
    border: gray solid 2px;
    margin-bottom: 7%; }
  div.mainPage select#isClean.form-control {
    border: solid gray 2px; }
  div.mainPage textarea#exampleTextarea.form-control {
    border: solid gray 2px; }
  div.mainPage h4 {
    color: #FFF;
    text-decoration: underline;
    text-align: left; }
  div.mainPage img {
    border-radius: 13px;
    border: solid white 2px; }
    div.mainPage img:hover {
      background: gray;
      opacity: .5;
      cursor: pointer; }
  div.mainPage button.btn-primary {
    background-color: #3B5998;
    color: #FFF;
    border: #FFF solid 2px;
    float: right;
    width: 25%; }
    div.mainPage button.btn-primary:hover {
      opacity: .8;
      cursor: pointer; }
  div.mainPage div#map {
    position: absolute;
    width: 35%;
    height: 57%;
    margin-left: 41%;
    bottom: 2%; }
  div.mainPage h5 {
    text-align: center; }

@media (min-width: 320px) and (max-width: 767px) {
  html body div.mainContainer {
    height: 100%;
    width: 100%; }
  header {
    height: 5%; }
  .logInPage {
    height: 53%;
    width: 80%;
    margin: 10% auto;
    padding-top: 8%;
    border-radius: 5px; }
    .logInPage h2 {
      font-size: xx-large;
      padding-top: 0%; }
    .logInPage p {
      font-size: medium; }
    .logInPage h2, .logInPage p {
      margin-left: 3%; }
    .logInPage form.form-inline {
      width: 62%;
      margin-left: 21%;
      margin-top: 10%; }
    .logInPage button.signIn {
      margin-left: 0;
      margin-right: 8%;
      margin-top: 5%; }
    .logInPage div.form-group {
      margin-right: 16%;
      margin-bottom: 2%;
      margin-top: 9%; }
  div.mainPage {
    width: 80%;
    margin: 0% auto;
    border-radius: 5px;
    height: 92%; }
    div.mainPage .socialBoxes {
      margin-right: 3%;
      margin-top: 2%; }
      div.mainPage .socialBoxes span {
        font-size: 2em; }
    div.mainPage h2, div.mainPage p {
      display: none; }
    div.mainPage .userInputArea {
      width: 80%;
      height: 40%;
      margin: 5% -1% 0 10%; }
    div.mainPage form.trackerForm {
      width: 250%; }
    div.mainPage .form-group-username {
      width: 75%;
      margin-left: 13%;
      margin-top: 20%; }
    div.mainPage .form-group-password {
      width: 75%;
      margin-left: 13%;
      margin-top: 8%; }
    div.mainPage #isClean {
      margin-bottom: 3%; }
    div.mainPage div.restroomRating {
      width: 250%; }
    div.mainPage h4 {
      font-size: initial; }
    div.mainPage button.btn.btn-primary {
      float: right;
      position: absolute;
      border-radius: 10px;
      margin-right: 1%;
      margin-top: 2%;
      margin-bottom: 6%;
      width: 27%;
      height: 28px; }
    div.mainPage div#map {
      border-radius: 5px;
      position: absolute;
      width: 63%;
      height: 30%;
      margin-left: 12%;
      bottom: 7%;
      margin-right: 10%; }
    div.mainPage fieldset.form-group {
      margin-bottom: 3%; }
    div.mainPage footer h5 {
      font-size: 10px; } }
