* {
  font-family: 'Shadows Into Light Two', cursive; }

html {
  height: 100%;
  margin: -15px; }
  html body {
    height: 100%; }
    html body .mainContainer {
      height: 125%; }
      html body .mainContainer div#bg-image {
        height: 100%;
        background-image: url("images/bathroomBackground.jpg"); }
      html body .mainContainer h2, html body .mainContainer p {
        text-align: center; }
      html body .mainContainer h2 {
        padding-top: 2%; }

header {
  height: 20%; }

footer {
  width: 100%;
  height: 10%; }
  footer h5 {
    text-align: center;
    vertical-align: middle; }

.logInPage {
  background-color: rgba(100, 149, 244, 0.78);
  box-shadow: 10px 10px 5px 0px rgba(140, 137, 140, 0.65);
  color: #FFF;
  height: 50%;
  width: 50%;
  border-radius: 84px;
  margin-left: 25%; }
  .logInPage h2 {
    text-align: center;
    font-size: -webkit-xxx-large;
    padding-top: 2%;
    margin-left: 0%; }
  .logInPage p {
    font-size: x-large; }
  .logInPage .socialBoxes {
    display: none; }
  .logInPage form.form-inline {
    text-align: center;
    margin-top: 3%;
    width: 35%;
    height: 47%;
    margin-left: 34%; }
  .logInPage div.form-group {
    margin-right: 16%;
    margin-bottom: 2%;
    margin-top: 10%; }
  .logInPage input#Username.form-control {
    width: 112%;
    border: solid gray 2px; }
  .logInPage input#Password.form-control {
    margin-left: 1%;
    width: 112%;
    border: solid gray 2px; }
  .logInPage button.signIn {
    width: 66%;
    margin-top: 7%;
    color: #FFF;
    margin-left: -5%;
    margin-bottom: 12%;
    background-color: #3B5998;
    border-radius: 10px; }

.mainPage {
  color: #FFF;
  height: 100%;
  display: hidden; }
  .mainPage .socialBoxes {
    float: right;
    margin-top: 2%; }
    .mainPage .socialBoxes .fa-facebook-square {
      color: #3b5998;
      top: 0;
      right: .5em; }
      .mainPage .socialBoxes .fa-facebook-square:hover {
        color: #add8e6;
        opacity: .8; }
    .mainPage .socialBoxes .fa-twitter-square {
      color: #00aced;
      top: 0;
      left: -.3em; }
      .mainPage .socialBoxes .fa-twitter-square:hover {
        color: #add8e6;
        opacity: .4; }
    .mainPage .socialBoxes .fa-youtube-square {
      color: #b31217;
      top: 0;
      left: -.2em; }
      .mainPage .socialBoxes .fa-youtube-square:hover {
        color: #ffc0cb;
        opacity: .4; }

@media (min-width: 320px) and (max-width: 767px) {
  html body div.mainContainer {
    height: 100%;
    width: 100%; }
  .logInPage, .mainPage {
    width: 80%;
    margin: 10% auto;
    padding-top: 8%;
    border-radius: 5px; }
  header {
    height: 5%; }
  .logInPage {
    height: 53%; }
    .logInPage h2 {
      font-size: xx-large;
      padding-top: 0%; }
    .logInPage p {
      font-size: medium; }
    .logInPage h2, .logInPage p {
      margin-left: 3%; }
    .logInPage form.form-inline {
      width: 62%;
      margin-left: 21%;
      margin-top: 10%; }
    .logInPage button.signIn {
      margin-left: 0;
      margin-right: 8%;
      margin-top: 5%; }
    .logInPage div.form-group {
      margin-right: 16%;
      margin-bottom: 2%;
      margin-top: 9%; }
  .socialBoxes {
    margin-right: 3%;
    margin-top: 2%; }
  .userInputArea {
    width: 80%;
    margin: 5% -1% 0 11%; }
  .form-group-username {
    width: 75%;
    margin-left: 13%;
    margin-top: 20%; }
  .form-group-password {
    width: 75%;
    margin-left: 13%;
    margin-top: 8%; }
  #isClean {
    margin-bottom: 3%; }
  button.btn.btn-primary {
    float: right;
    background-color: antiquewhite;
    border-radius: 10px;
    color: gray;
    margin-right: 1%;
    margin-top: 0;
    margin-bottom: 10%;
    width: 99%;
    height: 28px; }
  #map {
    border-radius: 5px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%; } }
