* {
  font-family: 'Shadows Into Light Two', cursive; }

html {
  height: 100%;
  margin: -15px; }

body {
  height: 100%; }

.mainContainer {
  height: 100%; }

h2, p {
  text-align: center; }

h2 {
  padding-top: 0%; }

header .socialBoxes {
  float: right; }
  header .socialBoxes .fa-facebook-square {
    color: #3b5998;
    top: 0;
    right: .5em; }
    header .socialBoxes .fa-facebook-square:hover {
      color: #add8e6;
      opacity: .8; }
  header .socialBoxes .fa-twitter-square {
    color: #00aced;
    top: 0;
    left: -.3em; }
    header .socialBoxes .fa-twitter-square:hover {
      color: #add8e6;
      opacity: .4; }
  header .socialBoxes .fa-youtube-square {
    color: #b31217;
    top: 0;
    left: -.2em; }
    header .socialBoxes .fa-youtube-square:hover {
      color: #ffc0cb;
      opacity: .4; }

footer {
  width: 100%;
  height: 10%; }

.socialBoxesFooter {
  float: left; }
  .socialBoxesFooter .fa-facebook-square {
    color: #3b5998;
    top: 0;
    right: .5em; }
    .socialBoxesFooter .fa-facebook-square:hover {
      color: #add8e6;
      opacity: .5; }
  .socialBoxesFooter .fa-twitter-square {
    color: #00aced;
    top: 0;
    left: -.3em; }
    .socialBoxesFooter .fa-twitter-square:hover {
      color: #add8e6;
      opacity: .4; }
  .socialBoxesFooter .fa-youtube-square {
    color: #b31217;
    top: 0;
    left: -.2em; }
    .socialBoxesFooter .fa-youtube-square:hover {
      color: #ffc0cb;
      opacity: .4; }

h2 {
  text-align: center;
  font-size: -webkit-xxx-large;
  padding-top: 4%; }

p {
  font-size: x-large; }

.logInPage {
  background-color: cadetblue;
  color: #FFF;
  height: 100%; }

form.form-inline {
  text-align: center;
  margin-top: 5%;
  width: 25%;
  height: 47%;
  margin-left: 38%; }

div.form-group {
  margin-right: 16%;
  margin-bottom: 10%; }

input#Username.form-control {
  margin-bottom: 20%;
  width: 112%; }

input#Password.form-control {
  margin-left: 1%;
  width: 112%; }

button.signIn {
  width: 37%;
  margin-top: 7%;
  background-color: antiquewhite;
  color: gray;
  margin-left: 7%; }

.mainPage {
  background-color: cadetblue;
  color: #FFF;
  height: 100%; }

@media (min-width: 320px) and (max-width: 767px) {
  header {
    width: 90%; }
  header .fa-3x {
    font-size: 1.6em; }
  h2, p {
    margin-left: 3%; }
  .socialBoxes {
    margin-right: 3%;
    margin-top: 2%; }
  .logInPage, .mainPage {
    width: 80%;
    margin: 10% auto;
    padding-top: 8%;
    border-radius: 5px; }
  .userInputArea {
    width: 80%;
    margin: 5% -1% 0 11%; }
  .form-group-username {
    width: 75%;
    margin-left: 13%;
    margin-top: 20%; }
  .form-group-password {
    width: 75%;
    margin-left: 13%;
    margin-top: 8%; }
  form.form-inline {
    width: 80%;
    margin-left: 12%;
    margin-top: 13%; }
  button.signIn {
    float: right;
    background-color: antiquewhite;
    border-radius: 10px;
    color: gray;
    margin-right: 14%;
    margin-top: 5%; }
  .form-group {
    margin-bottom: 8px; }
  #isClean {
    margin-bottom: 3%; }
  button.btn.btn-primary {
    float: right;
    background-color: antiquewhite;
    border-radius: 10px;
    color: gray;
    margin-right: 1%;
    margin-top: 0;
    margin-bottom: 10%;
    width: 99%;
    height: 28px; }
  #map {
    border-radius: 5px;
    width: 80%;
    height: 30%;
    margin-left: 10%;
    margin-right: 10%; }
  footer .socialBoxesFooter {
    display: none; } }
