<<<<<<< HEAD
@import "logInPage";
@import "mainPage";
#map {
    height: 500px;
      width: 90%;
      position: relative;
      overflow: hidden;
      transform: translateZ(0px);
      background-color: rgb(229, 227, 223)
}
=======
* {
  font-family: 'Shadows Into Light Two', cursive;
}

@import "_header";
@import "_footer";
@import "_logInPage";
@import "_mainPage";
@import "_mobile";
>>>>>>> 02ca288c24b2bec5bd4244b58bb6be865ae9be46
